.header-wrapper {
  position: absolute;
  top: -68px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 340px;
  pointer-events: none;
}

.header-main {
  background-color: #00bfff;
  color: #fff;
  width: 340px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 14px; */
  font-weight: 700;
  font-size: 46px;
  font-family: "Caveat", cursive;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 10px 18px;
}

.header-shadow {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 370px;
  height: 50px;
  min-height: 80px;
  background-color: #00588a;
  /* border-radius: 14px; */
  z-index: 0;
  transform: rotate(1deg);
}

.header-wrapper.header-large-title {
  width: 480px;
  top: -100px;
}

.header-main.header-large-title,
.header-shadow.header-large-title {
  width: 480px !important;
  min-height: 110px !important;
  font-size: 38px !important;
  line-height: 1.2;
  text-align: center;
}

.header-shadow.header-large-title {
  width: 480px !important;
  min-height: 110px !important;
  transform: rotate(0.5deg);
  top: 28px;
  left: 40px;
}
