.header-wrapper {
  position: absolute;
  top: -44px; /* Para sobrepor o topo do card */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 270px;
  height: 70px;
  overflow: visible;
}

.header-main {
  background-color: #00bfff;
  color: #fff;
  width: 340px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: 700;
  font-size: 54px;
  font-family: "Caveat", cursive;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-shadow {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 340px;
  height: 80px;
  background-color: #00588a;
  border-radius: 12px;
  z-index: 0;
}
