html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.quiz-wrapper {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.quiz-content {
  position: relative;
}

.quiz-card {
  position: relative;
  background-color: #fff;
  border: 3px solid rgb(225, 198, 44);
  border-radius: 12px;
  padding: 60px 30px 30px 30px;
  width: 850px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  color: #000;
  margin-top: 60px;
}

.quiz-card-content {
  width: 100%;
}

.quiz-question {
  font-size: 18px;
  margin-bottom: 20px;
}

.explanation-text {
  font-size: 22px;
  line-height: 1.5;
  color: #222;
  margin-bottom: 18px;
}

.quiz-card.header-large-padding {
  padding-top: 10px;
}
